version: "3.5"
services:
  bot:
    image: node:14.20.0
    command: yarn debug-bot
    working_dir: /app
    ports:
      - 9222:9222
    volumes:
      - ./:/app
    environment:
      REDIS_URL: redis://redis:6379/0
    env_file:
      - ./development.env
  website:
    image: node:14.20.0
    command: yarn debug-web
    working_dir: /app
    ports:
      - 9223:9223
      - 8080:8080
    volumes:
      - ./:/app
    environment:
      REDIS_URL: redis://redis:6379/0
      WEBSITE_BASE_URL: localhost
    env_file:
      - ./development.env
  redis:
    image: redis:5.0-alpine
